html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewable-on {
    display: flex;
}

.viewable-off {
    display: none;
}