html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewable-on {
    display: flex;
    flex-grow: 1;
    flex-basis: 75%;
}

.viewable-off {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: gray;
  }

.spacing{
	padding: 5px;
}

.navigation-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.navigation-top {
    display: flex;
    list-style-type: none;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 340px;
    margin:7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-image {
    width:100%;
    height:100%;
    object-fit: contain;
}

.logo {
    width:100%;
    height:100%;
    object-fit: contain;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.printResults {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: scroll;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    height: 15%;
    display: block;
    justify-content: space-between;
    padding: 1em;
}

footer {
    height: 10%;
    display: flex;
}

.nav-button {
    align-self: center;
}

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-logo {
  margin-top: 25%;
  width: 300px;
  display: block;
  margin-bottom: 30px;
}

.bg {
    background: #efefef;
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
  height: 20px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
input::placeholder {

}