* {
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewable-on {
    display: flex;
    flex-grow: 1;
    flex-basis: 75%;
}

.viewable-off {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: gray;
  }

.spacing{
	padding: 5px;
}

.navigation-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    color: white;
    padding: 0;
}

.navigation-top {
    display: flex;
    list-style-type: none;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 340px;
    margin:7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.printArticleForRating > .thumbnail {
    width: 75%;
    overflow: scroll;
}

.image-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.news-image {
    width:100%;
    height:100%;
    object-fit: contain;
}

.logo {
    width:150px;
    object-fit: contain;
    margin: 10px;
    padding-left: 50px;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    margin: 0;
    padding: .5em .5em 0em .5em;
}

.description {
    margin: 0;
    padding: 0em .75em 1em .75em;
}

.view-article-button {
    box-shadow: rgb(151, 196, 254) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%) rgb(61, 148, 246);
    border-radius: 6px;
    border: 1px solid rgb(51, 127, 237);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: rgb(21, 112, 205) 0px 1px 0px;
}

.view-article-button:hover {
    background-color: blue;
}

.view-article-button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.skip-article-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2.5px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.skip-article-button:hover {
    background-color: rgb(197, 18, 18);
}

.skip-article-button:active {
    background-color: rgb(197, 18, 18);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.author-source-date {
    margin: 0;
    padding: 1em 2em 1em 2em;
}

.caption {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    flex-grow: 1;
}
.printResults, .printArticleForRating {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: scroll;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    display: block;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    background: #efefef;
}

footer {
    display: flex;
    padding: 0 1em 0 1em;
    background: #0155a4;
}

footer .nav-button {
  background: white;
  color: #0155a4;
  padding: 10px;
  border: 1px solid #efefef;
}

.nav-button {
    align-self: center;
    cursor: pointer;
}

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-logo {
  margin-top: 25%;
  width: 300px;
  display: block;
  margin-bottom: 30px;
}

.bg {
    background: #efefef;
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
  height: 20px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}
input::placeholder {

}

#creation {
  color: #0155a4;
  background: none;
  border: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 30%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.ratings-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.rate-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-self: center;
    justify-content: center;
    font-family: Impact, Charcoal, sans-serif;
}

.fair-article-button, .unfair-article-button {
    align-self: center;
    font-family: Georgia;
    margin: 0 5px 0 5px;
}

.topic-input {
    display: inline-flex;
    width: 50%;
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.topic-input-button {
    background-color: rgb(117, 182, 19);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 9px #999
}

.topic-input-button:hover {
    background-color: green;
}

.topic-input-button:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}